# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env DATABASE_URL

# Firebase service account keys
**/Keys/serviceAccountKey.json

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/

# Optional npm cache
.npm

# ENV
.env

#Database
DATABASE_URL='postgresql://neondb_owner:npg_gkUFNZVB43GK@ep-super-cherry-acmnzvw8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'